<div class="row">
    <div class="footer">
        <div class="">
            <span class="mb-2" style="color: #ffffff!important;">
                Copyright @ 2020 QuiTech .Todos los derechos reservados   
            </span>
        </div>
    </div>
</div>

<style>
    .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    height: 40px;
    line-height: 40px;
    background-color: #343a40 ;
  }

</style>
